<ion-header class="ion-no-border status-bar-padding">
    <div class="container">
        <div class="row border-b-gray align-items-center bg-light pb-2">
            <div class="col-4">
                <a routerLink="/message">
                    <img src="./assets/img/icons/arrow-right-gray.svg" />

                </a>
            </div>
            <div class="col-7 text-center">
                <h2 class="font-14 fw-600 my-0 d-flex align-items-center">
                    <span class="pe-2">
                        <img src="./assets/img/icons/msg2.svg" alt="">
                    </span>
                    John Smith
                </h2>
            </div>
        </div>
    </div>
</ion-header>

<ion-content class="bg-light-green2">
    <div class="container">
        <div class="row px-2 justify-content-end mt-4">
            <div class="col-10 bg-green text-white rounded py-3">
                <p>
                    Hi John,<br />
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt,
                    consectetur adipiscing elit, sed do eiusmod tempor incididunt<br />

                    Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                </p>
                <p class="fw-600 text-end mb-0">11:22</p>
            </div>
        </div>
        <div class="row px-2 justify-content-start mt-4">
            <div class="col-10 bg-light rounded py-3">
                <p>
                    Hello Mehtap, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                </p>
                <p class="fw-600 text-end mb-0">11:22</p>
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-5">
                <span class="badge rounded-pill bg-white border border-dark text-dark">September 12, 2023</span>
            </div>
        </div>
        <div class="row px-2 justify-content-end mt-4">
            <div class="col-10 bg-green text-white rounded py-3">
                <p>
                    Hi John, is the phone still available?
                </p>
                <p class="fw-600 text-end mb-0">11:35</p>
            </div>
        </div>
        <div class="row px-2 justify-content-start mt-4">
            <div class="col-10 bg-light rounded py-3">
                <p>
                    Hello Mehtap, unfortunately I have already agreed with another person.
                    I hope you the best with your search, thank you very much.
                </p>
                <p class="fw-600 text-end mb-0">12:32</p>
            </div>
        </div>
    </div>
</ion-content>

<ion-footer>
    <ion-toolbar padding="true" class="pt-2 bg-transparent">
        <div class="container bg-transparent">
            <div class="row">
                <div class="col">
                    <nav class="d-flex align-items-center justify-content-between">
                        <div class="d-flex justify-content-center">
                            <div class="chat-box-img-icon">
                                <img src="./assets/img/icons/gallery.svg" />
                            </div>
                        </div>
                        <div class="input-group align-items-center border rounded-pill ms-2 ps-2 pe-1 py-1 ">
                            <input type="text" class="form-control border-0 " placeholder="Type your message here...">
                            <div class="input-group-append">
                                <span class="input-group-text bg-green rounded-pill">
                                    <img src="./assets/img/icons/send-msg-chat.svg" />
                                </span>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </ion-toolbar>
</ion-footer>