<ion-content class="mb-5 pb-5">

  <div class="container">
      <div class="row pt-4 border-b-gray align-items-center pb-2">
          <div class="col-4">
              <a routerLink="/profile">
                  <img src="./assets/img/icons/arrow-right-gray.svg" />

              </a>
          </div>
          <div class="col-4 text-center">
              <h2 class="font-14 fw-600 mb-0">Wishlist</h2>
          </div>
      </div>
      <div class="row">

          <div class=" row border-bottom align-items-center position-relative">
              <a routerLink="/product"
                  class="col-5 product-card-bg-img product-bg-1 d-flex justify-content-end align-items-end">
              </a>

              <div class="col-7 py-4">
                  <div class="d-flex justify-content-between">
                      <p class="text-muted font-12 ">Berlin</p>
                      <p class="text-muted font-12">12.06.2023</p>
                  </div>
                  <h5 class="text-green font-12 text-truncate">iPhone 8 White 64 gb</h5>
                  <p class="font-14 fw-600">100 €</p>
                  <span class="badge rounded-pill  border border-dark text-dark">64 gb</span>
                  <span class="badge rounded-pill  border border-dark text-dark">Second hand</span>
              </div>
          </div>
          <div class="row border-b-gray pt-3">
              <div class="col-8">
                  <p class=" d-flex align-items-center">
                      <span>
                          <img src="./assets/img/icons/trash.svg" />
                      </span>
                      <span class="ps-2 text-gray">
                          Remove from wishlist
                      </span>
                  </p>
              </div>
              <div class="col-4 text-end">
                  <img src="./assets/img/icons/upload-black.svg" />

              </div>
          </div>

          <div class=" row border-bottom align-items-center position-relative">
              <a routerLink="/product"
                  class="col-5 product-card-bg-img product-bg-2 d-flex justify-content-end align-items-end">

              </a>
              <div class="col-7 py-4">
                  <div class="d-flex justify-content-between">
                      <p class="text-muted font-12 ">Berlin</p>
                      <p class="text-muted font-12">12.06.2023</p>
                  </div>
                  <h5 class="text-green font-12">SAMSUNG Watch Series, Cellular 3 GB
                      42 mm</h5>
                  <p class="font-14 fw-600">100 €</p>
                  <span class="badge rounded-pill  border border-dark text-dark">3 GB</span>
                  <span class="badge rounded-pill  border border-dark text-dark">Second hand</span>
              </div>

          </div>
          <div class="row border-b-gray pt-3">
              <div class="col-8">
                  <p class=" d-flex align-items-center">
                      <span>

                          <img src="./assets/img/icons/trash.svg" />
                      </span>
                      <span class="ps-2 text-gray">
                          Remove from wishlist
                      </span>
                  </p>
              </div>
              <div class="col-4 text-end">
                  <img src="./assets/img/icons/upload-black.svg" />

              </div>
          </div>

      </div>

  </div>
</ion-content>

<app-menu></app-menu>