<ion-header class="ion-no-border status-bar-padding">
    <div class="container"> 
        <div class="row border-b-gray pb-2">
            <div class="col-12">
                <a routerLink="/user" class="text-decoration-none">
                    <div class="d-flex align-items-center">
                        <div class="profile-name">
                            MO
                        </div>
                        <h4 class="fw-600 text-dark my-0">Mehtap Okutan</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
</ion-header>

<ion-content>
  <div class="container">
      <div class="row">
          <a routerLink="/message" class="text-decoration-none">

          <div class="d-flex justify-content-between border-bottom py-3">
              <span class="d-flex text-dark"> 
                  <span> 
                      <img class="me-2" src="./assets/img/icons/menu-msg.svg" />

                  </span> Messages</span>
              <span class="text-gray">
                  <img src="./assets/img/icons/menu-right-arrow.svg" />
                  
              </span>
          </div>
          </a>

          <a routerLink="/wishlist" class="text-decoration-none">
              <div class="d-flex justify-content-between border-bottom py-3">

                  <span class="d-flex text-dark">
                      
                      <img class="me-2" src="./assets/img/icons/menu-wishlist.svg" />

                      Wishlist</span>
                  <span class="text-gray">
                  <img src="./assets/img/icons/menu-right-arrow.svg" />
                      
                  </span>
              </div>
          </a>
          <a routerLink="/search-history" class="text-decoration-none">
              <div class="d-flex justify-content-between border-bottom py-3">
                  <span class="d-flex text-dark">
                      <img class="me-2" src="./assets/img/icons/menu-search.svg" />

                      Search</span>
                  <span class="text-gray">
                  <img src="./assets/img/icons/menu-right-arrow.svg" />
                      
                  </span>
              </div>
          </a>
          <a routerLink="/follow" class="text-decoration-none">
              <div class="d-flex justify-content-between border-bottom py-3">
                  <span class="d-flex text-dark">
                      <img class="me-2" src="./assets/img/icons/menu-following.svg" />

                      Following</span>
                  <span class="text-gray">
                  <img src="./assets/img/icons/menu-right-arrow.svg" />
                      

                  </span>
              </div>
          </a>
          <div class="d-flex justify-content-between border-bottom py-3">
              <span class="d-flex">
                  <img class="me-2" src="./assets/img/icons/menu-setting.svg" />
                  Settings</span>
              <span class="text-gray">
                  <img src="./assets/img/icons/menu-right-arrow.svg" />
              </span>
          </div>

      </div>

      


  </div>
</ion-content>

<app-menu></app-menu>