@font-face {
    font-family: 'Montserrat';
    src: url('../Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');

}


.mobile-nav {
    background: #FFFFFF;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.15);
    font-size: 11px;
}

.bloc-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bloc-icon box-icon,
.bloc-icon img {
    margin-bottom: 5px;
}


#content {
    padding-top: 100px;
}


.categorie-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* margin-right: 12px; */
}

.categorie-item img {
    max-width: 60px;
}


/* Font size */
.font-10 {
    font-size: 10px;
}
.font-11 {
    font-size: 11px;
}
.font-12 {
    font-size: 12px;
}
.font-13 {
    font-size: 13px;
}
.font-14 {
    font-size: 14px;
}


/* Font Weight */
.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}


.text-gray {
    color: #9DA7AD;
}

.text-orange {
    color: #FF764A;
}

.border-orange {
    border: 2px solid #FF764A;
}

.text-green {
    color: #007886;
}

.text-light-green {
    color: #3397A2;
}



.bg-light-orange {
    background-color: #FFD5C9;
}

.bg-green {
    background-color: #007886;
}

.bg-light-green {
    background-color: #CCE5E8;
}

.bg-light-green2 {
    background-color: #cce5e878;
}

.bg-l-dark {
    background-color: #20293A;
}

.border-green {
    border: 1px solid #007886;
}


.like-btn {
    background-color: #ffffff;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.dislike-btn {
    background-color: #9DA7AD;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.border-b-gray {
    border-bottom: 5px solid #F5F5F5;
}


.custom-shape {
    width: 54px;
    height: 24px;
    background-color: #FE7062;
    clip-path: polygon(100% 0, 0 0, 18% 48%, 0 98%, 100% 100%);

    position: absolute;
    top: 20px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.product-like-icon {
    position: absolute;
    bottom: 8px;
    right: 0px;
}



.product-bg-1 {
    background-image: url('../img/product-1.png');
}

.product-bg-2 {
    background-image: url('../img/product-2.png');
}

.product-bg-3 {
    background-image: url('../img/recom-2.png');
}

.product-card-bg-img {
    background-size: 100% 100%;
    background-position: center;
    height: 100%;
    background-repeat: no-repeat;
}

.product-card-img-d {
    width: 68px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.detail-top-icon {
    background: #38383896;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail-img-height {
    min-height: 350px;
}

.detail-top-icon-main {
    position: absolute;
    top: 6px;
    width: 90%;
}

.detail-top-camara-icon {
    position: absolute;
    right: 22px;
    bottom: 0;
}

.form-check-input:checked {
    background-color: #00C7B8;
    border-color: #00C7B8;
}

.chat-box-img-icon {
    background-color: #CCE5E8;
    height: 45px;
    width: 45px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-name {
    height: 45px;
    width: 45px;
    background-color: #163769;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border: 4px solid #F5F5F5;
}

.save-search-btn {
    position: fixed;
    bottom: 70px;
}

.user-profile-img {
    height: 70px;
    width: 70px;
    border-radius: 50px;
}